html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ffffff;
}
.content {
  background-color: #1D2855;
  flex: 1;
}
a {
  color: #ffffff;
}

.icon-bar {
	background: #ffffff;
}
.navbar-css {
	background-color: #1D2855;
}
.footer {
  padding: 20px;
  border-top: solid;
  border-color: #ffffff;
  border-top-width: thick;
  background-color: #9B252D;
}
